body {
		margin: 0 auto;
		height: 100vmin;
		width: 100vmin;
		font-size: 0;
}
.brown{
		background-color: #ffcf73;
		color: #6b8fd4;
}
.blue {
		background-color: #6b8fd4;
		color: #ffcf73;
}

.brown, .blue {
				position: relative;
				display: table-cell;
				vertical-align: middle;
				width: 20vmin;
				height: 20vmin;
				font-size: 20px;
				
}
span {
		position: absolute;
		transform: translate(-50%, -50%)
}
